body {
    font-family: 'Open Sans', "Arial"
}

h1.span {
    display: inline-block;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 10px;
}

.btn {
  color: #ffffff;
  font-size: 16px;
  background: #3498db;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.planner-controls {
    margin: 0;
    margin-top: 20px;
    float: right;
    overflow: auto;
    padding-bottom: 10px;
}

.planner-controls span {
    float: left;
} 

#planner-period {
    font-size: 16px;
    padding: 8px;
    width: 150px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.planner {
    border-collapse: collapse;
    font-size: 13px;
    padding: 3px;
    clear: both;
}

.planner th {
    background-color: #eee;
}

.planner-title, .planner th.day {
    border: 1px solid #aaa;
    border-top: none;
}

.planner-week {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    text-align: left;
    padding: 3px;
    padding-bottom: 10px;
    border: 1px solid #aaa;
    border-bottom: none;
}

.planner th.resource {
    border: 1px solid #aaa;
}

.planner tbody tr, .planner tbody tr td {
    border: 1px solid #aaa;
    vertical-align: top;
}

.planner-resource {
    font-size: 16px;
    font-weight: normal;
    color: #999;
    text-align: left;
    vertical-align: top;
    padding: 3px;
    border: 1px solid #aaa;
}

.resource {
    width: 256px;
    background-color: #eee;
    text-align: left;
}

.resource-image {
    width: 64px;
    height: 64px;
    float: left;
    padding: 5px;
}

.resource-name {
    font-size: 14px;
    font-weight: bold;
    color: #666;
    display: block;
    padding-top: 5px;
}

.resource-descr {
    font-size: 12px;
    font-weight: normal;
    color: #999;
    display: block;
}

.day {
    width: 32px;
    padding: 3px;
}

.date {
    color: #999;
}

.weekend {
    background-color: #eee;
}

.job {
    background-color: #cc66ff;
    border: 1px solid #7711aa;
    color: #7711aa;
    margin: 2px;
    font-size: 10px;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fixed-job {
    background-color: #bbbbbb;
    border: 1px solid #111111;
    color: #111111;
    cursor: default;
    
}